@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter/Inter_24pt-Medium.woff2"),
    url("../../assets/fonts/Inter/Inter_24pt-Medium.woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter/Inter_24pt-Regular.woff2"),
    url("../../assets/fonts/Inter/Inter_24pt-Regular.woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Inter Tight";
  src: url("../../assets/fonts/InterTight/InterTight-Medium.woff2"),
    url("../../assets/fonts/InterTight/InterTight-Medium.woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Inter Tight";
  src: url("../../assets/fonts/InterTight/InterTight-Regular.woff2"),
    url("../../assets/fonts/InterTight/InterTight-Regular.woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Inter Tight";
  src: url("../../assets/fonts/InterTight/InterTight-SemiBold.woff2"),
    url("../../assets/fonts/InterTight/InterTight-SemiBold.woff");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
